<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qyddai.an_aw_base">
    <!--android:hardwareAccelerated="false"-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/yy"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AnAppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/ParallaxAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".YueYueActivity"
            android:theme="@style/ParallaxAppTheme" />
        <activity
            android:name=".view.activity.MyActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.TakePhotoActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/NoBarTheme" />
        <activity android:name=".SlidingCloseActivity" />
        <activity android:name=".AnotationActivity" />
        <activity android:name=".SlidingFinishActivity" />
        <activity android:name=".SlidingFinishDetailActivity" />
        <activity android:name=".view.LittleTrickActivity" />
        <activity
            android:name=".view.SwipeRecyclerActivity"
            android:label="@string/SwipeRecyclerActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.AllMenuActivity"
            android:label="@string/AllMenuActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.ViewTypeMenuActivity"
            android:label="@string/ViewTypeMenuActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.DefineActivity"
            android:label="@string/DefineActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.DragSwipeFlagsActivity"
            android:label="@string/DragSwipeFlagsActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.GridDragMenuActivity"
            android:label="@string/GridDragMenuActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.ViewPagerMenuActivity"
            android:label="@string/ViewPagerMenuActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.RefreshLoadMoreActivity"
            android:label="@string/RefreshLoadMoreActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.ListDragMenuActivity"
            android:label="@string/ListDragMenuActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.ListDragSwipeActivity"
            android:label="@string/ListDragMenuActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.LinearLayoutDelActivity"
            android:label="@string/ListDragMenuActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.RefreshLayoutActivity"
            android:label="@string/ListDragMenuActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.LRecyclerViewActivity"
            android:label="@string/LRecyclerViewActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.EndlessLinearLayoutActivity"
            android:label="@string/EndlessLinearLayoutActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.MulItemLinearLayoutActivity"
            android:label="@string/MulItemLinearLayoutActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.PartialRefreshActivity"
            android:label="@string/PartialRefreshActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.BeiSaiErActivity"
            android:label="@string/PartialRefreshActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.ExpandableRecyclerViewOneActivity"
            android:label="@string/ExpandableRecyclerViewOneActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.EndlessGridLayoutActivity"
            android:label="@string/EndlessGridLayoutActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.CollapsingToolbarLayoutActivity"
            android:label="@string/CollapsingToolbarLayoutActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.EndlessStaggeredGridLayoutActivity"
            android:label="@string/EndlessStaggeredGridLayoutActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.LinearLayoutActivity"
            android:label="@string/LinearLayoutActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.SwipeDeleteActivity"
            android:label="@string/SwipeDeleteActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.SectionLayoutActivity"
            android:label="@string/SectionLayoutActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.SectionAnimalActivity"
            android:label="@string/SectionAnimalActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.RefreshGridViewActivity"
            android:label="@string/SectionAnimalActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.RefreshListViewActivity"
            android:label="@string/SectionAnimalActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.YYTipsActivity"
            android:theme="@style/ParallaxAppTheme"
            android:label="@string/SectionAnimalActivity" />
        <activity
            android:name=".view.activity.YYChatTipsActivity"
            android:label="@string/SectionAnimalActivity" />

        <activity
            android:name=".view.activity.RefreshRecyclerViewActivity"
            android:label="@string/SectionAnimalActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.RefreshSwipeListViewActivity"
            android:label="@string/SectionAnimalActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.RefreshSwipeRecyclerViewActivity"
            android:label="@string/SectionAnimalActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.RefreshStaggeredRecyclerViewActivity"
            android:label="@string/SectionAnimalActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.RefreshScrollViewActivity"
            android:label="@string/SectionAnimalActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.RefreshNormalViewActivity"
            android:label="@string/SectionAnimalActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.RefreshWebViewActivity"
            android:label="@string/SectionAnimalActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.TakePhotoResultActivity"
            android:label="@string/SectionAnimalActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.TakePhotoFragmentActivity"
            android:label="@string/SectionAnimalActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.OtherActivity"
            android:label="@string/SectionAnimalActivity"
            android:theme="@style/NoBarTheme" />
    </application>

</manifest>