<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qyddai.an_aw_base">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AnAppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/NoBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SlidingCloseActivity" />
        <activity android:name=".AnotationActivity" />
        <activity android:name=".SlidingFinishActivity" />
        <activity android:name=".SlidingFinishDetailActivity" />
        <activity android:name=".view.LittleTrickActivity" />
        <activity
            android:name=".view.SwipeRecyclerActivity"
            android:label="@string/SwipeRecyclerActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.AllMenuActivity"
            android:label="@string/AllMenuActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.ViewTypeMenuActivity"
            android:label="@string/ViewTypeMenuActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.DefineActivity"
            android:label="@string/DefineActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.DragSwipeFlagsActivity"
            android:label="@string/DragSwipeFlagsActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.GridDragMenuActivity"
            android:label="@string/GridDragMenuActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.ViewPagerMenuActivity"
            android:label="@string/ViewPagerMenuActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.RefreshLoadMoreActivity"
            android:label="@string/RefreshLoadMoreActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.ListDragMenuActivity"
            android:label="@string/ListDragMenuActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.activity.ListDragSwipeActivity"
            android:label="@string/ListDragMenuActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".view.RefreshLayoutActivity"
            android:label="@string/ListDragMenuActivity"
            android:theme="@style/NoBarTheme" />
    </application>

</manifest>